{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Containers ({{ containers|length }})</h1>
    <ul>
    {% for container in containers %}
    <li>
    {{ container.name }}
    </li>
    {% endfor %}
    </ul>
{% endblock %}
