{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<nav>
<a href="{{ url_for('container_list') }}">List Containers</a><br>
<a href="{{ url_for('container_create') }}">Create Container</a><br>
</nav>
{% endblock %}
